<!-- check for database, network or other errors -->
<div *ngIf="!isLoading && feed.feedbackType === 'error'" class="text-center">
  <div class="alert alert-success" [ngClass]="feed.feedbackType === 'success'
          ? 'alert-success'
          : 'alert-danger'
      " role="alert" style="height: 50px" [ngStyle]="!feed.feedbackMsg">
    {{
    feed.feedbackType === "error"
    ? feed.feedbackMsg + " Please try again later."
    : ""
    }}

    {{
      feed.feedbackType === "sucess"
      ? feed.feedbackMsg + " SUCESS."
      : ""
      }}
  </div>
</div>

<table class='table table-bordered' *ngIf="isLoading && feed.feedbackType === 'success'">
  <thead class="thead-light">
    <tr>
      <th>id</th>
      <th>nome</th>
      <th>cognome</th>
      <th>email</th>
      <th>update</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let repo of people">

      <td>{{repo.id}}</td>
      <td><a [routerLink]="['/person-edit/',repo.id]">{{repo.first_name}} </a> </td>

      <td><a [routerLink]="['/person-edit/',repo.id]">{{repo.last_name}} </a> </td>

      <td>{{repo.email}}</td>
      <td class="text-center">
        <button type="submit" routerLinkActive="active" routerLink="/person-edit/{{repo.id}}" style="background-color:rgb(22, 218, 22)">
          <img src="assets\img\Edit.png" Style= "width:30px;height:30px"  />
        </button>

        <button type="submit" (click)="deletePerson(repo.id)" style="background-color:red">
          <img src="assets\img\delete.png" Style= "width:30px;height:30px"  />
        </button>
      </td>
    </tr>
  </tbody>
</table>